<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    Header Set Access-Control-Allow-Origin "http://localhost:8080"
    Header Set Access-Control-Allow-Headers "content-type"
</IfModule>
